<html>
<header>
<script src="/socket.io/socket.io.js"></script>

</header>
<body>
<center>
<label for="">Nom Partie</label>
<input type="text" id="nompartie">
<br>
<label for="">ID Joueur 1</label>
<input type="text" id="id1">
<br>
<label for="">Id Joueur 2</label>
<input type="text" id="id2">
<br>
<button onclick="addpartie()">Envoyer</button>
<button onclick ="aff()">Afficher Stat</button>
</center>
</body>
<script >
        const socket = io.connect()

socket.on("partie",(data)=>{
    p=document.createElement("p")
    p.innerText("le nom de partie "+data.nompartie +"joueur 1"+data.joueur1+"joueur 2"+data.joueur2)
})

socket.on("aff",(data)=>{
    p=document.createElement("p")
    p.innerText
})


nom=document.getElementById("nompartie")
j1=document.getElementById("nompartie")
j2=document.getElementById("nompartie")


function addpartie(){
    socket.emit("partie",)

}

function aff(){
    socket.emit("aff",)
}
</script>

</html>